<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168018784695-u47a9dhdj86mualdgf81eg0ao0usb1va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168018784695-u47a9dhdj86mualdgf81eg0ao0usb1va</string>
	<key>API_KEY</key>
	<string>AIzaSyCi9Fkkg5d8Y8qkuYouZMkD6vqHM3K6E9I</string>
	<key>GCM_SENDER_ID</key>
	<string>168018784695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>benjigarrison.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-bfb58</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-bfb58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168018784695:ios:5187f11ac52dc1863bf832</string>
</dict>
</plist>